.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.container svg {
  display: block;
  width: 90%;
  height: 90%;
}

.label text{
  font: 11px sans-serif;
  font-weight: 800;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.relation text {
  font: 11px sans-serif;
  color: white
}