.App-header {
  background-color: #1c1d1f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: white;
  font-weight: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* circle {
    fill: rgb(187, 101, 98);
    fill-opacity: .25;
    stroke: rgb(187, 101, 98);
    stroke-width: 1px;
  } */
  
/* .leaf circle {
  fill: #ff0e42;
  fill-opacity: 1;
} */

.App {
    background-color: white;
}

.Vis {
  width: 70%;
  height: 100%;
}

.SideBar {
  width: 30%;
  display: flex;
  float: right;
}

.Main {
  display:flex; 
}

.ForceGraph {
  display: flex;
  flex-direction: row;
  align-items: center;
}