.App-header {
  background-color: #1d2026;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

circle {
    fill: rgb(187, 101, 98);
    fill-opacity: .25;
    stroke: rgb(187, 101, 98);
    stroke-width: 1px;
  }
  
.leaf circle {
  fill: #ff0e42;
  fill-opacity: 1;
}

.App {
    background-color: white;
}

.Vis {
  width: 70%;
  height: 100%;
}

.SideBar {
  width: 30%;
  display: flex;
  float: right;
}

.Main {
  display:flex; 

}